#assignment {
    text-align: center;}

#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}

h1, h3 {
    text-align: center;
}

img {
    width: 400px;
    height: 350px;
}

figure {
    text-align: center;
}

h1, h3, figcaption {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    color: rgba(88, 20, 168);
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

html {
    background-color: lightgreen;
}

.gallery-item {
    border-style: solid;
    border-color:black;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: auto;
}

quote {
    font-style: italic;
}

.card {
    position: relative;
    text-align: center;
    margin-left: 20px;
    padding: 25px;
    width: 400px;
    height: 400px;
    background-color: silver;
    perspective: 1000px;
    aspect-ratio: 9/16;
    width: 800px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}